* {
  box-sizing: border-box;
}

section {
  max-width: calc(100vw - 4rem);
  padding: 0 2rem;
  /* margin: 0 auto; */
}

section > * {
  max-width: min(100%, 1000px);
  margin: 0 auto;
}

@media screen and (max-width: 375px) {
  #portrait.mobile {
    width: 100%;
  }
}

hr {
  border: 0.5px solid #ccc;
}

hr.spacer {
  width: 100%;
  margin: 1.5rem auto;
}

/* Introduction section */

#intro-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 2.5rem;
}

.left-column {
  display: block;
}

#portrait {
  width: 280px;

  &.mobile {
    display: none;
  }
}

.selected-highlights {
  display: block;
}

.selected-highlights.mobile {
  display: none;
}

.biography {
  max-width: 660px; //grid_8 width
}

@media screen and (max-width: 1050px) {
  #intro-container {
    display: block;
  }

  .left-column {
    display: none;
  }

  #portrait.mobile {
    width: 200px;
    display: inline;
    float: left;
    margin: 0 0.75rem 0.75rem 0;
  }

  .selected-highlights {
    display: none;
  }

  .selected-highlights.mobile {
    display: block;
  }

  .biography {
    max-width: 100%;
  }
}

@media screen and (max-width: 375px) {
  #portrait.mobile {
    width: 100%;
  }
}

/* Main-content section */

#main-content {
  display: flex;
  gap: 2rem;
  flex-flow: row nowrap;
}

#news-column {
  width: 320px;
}

#news_alt {
  display: none;
}

#content-selector {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#content-selector > div {
  flex: 1 1 auto;
}

.tabs:hover > * {
  color: #1a73e8;
  text-decoration-line: underline;
}

#contents {
  font-family: "Lato", sans-serif;
  color: #363636;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.5;
  max-width: 100%;
}

@media screen and (max-width: 1050px) {
  #news-column {
    display: none;
  }

  #main-content {
    min-width: 100%;
    display: block;
  }

  #content-selector {
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
  }

  #news_alt {
    display: block;
  }
}

@media screen and (max-width: 700px) {
  /* wrap selectable tabs on mobile view */
  #content-selector {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  #content-selector > div {
    margin-bottom: 1rem;
  }
}
