section {
  max-width: calc(100vw - 4rem);
  padding: 0 2rem;
}

section > div {
  max-width: min(100%, 1000px);
  margin: 0 auto;
}

hr {
  border: 0.5px solid #ccc;
}

hr.spacer {
  width: 100%;
  margin: 1.5rem auto;
}

/* Introduction section */

#intro-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 2.5rem;
}

.left-column {
  display: block;
}

#portrait {
  width: 280px;

  &.mobile {
    display: none;
  }
}

.selected-highlights {
  display: block;
}

.selected-highlights.mobile {
  display: none;
}

.biography {
  max-width: 660px; //grid_8 width
}

@media screen and (max-width: 1050px) {
  #intro-container {
    display: block;
  }

  .left-column {
    display: none;
  }

  #portrait.mobile {
    width: 200px;
    display: inline;
    float: left;
    margin: 0 0.75rem 0.75rem 0;
  }

  .selected-highlights {
    display: none;
  }

  .selected-highlights.mobile {
    display: block;
  }

  .biography {
    max-width: 100%;
  }
}

@media screen and (max-width: 375px) {
  #portrait.mobile {
    width: 100%;
  }
}
