#highlight-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.3;
  padding: 16px 0px 0px 0px;
}

#highlights-group {
  display: flex;
  flex-flow: row-wrap;
  gap: 1rem;
  max-width: 100vw;
}

.highlight {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.3;
  color: #808080;
  padding: 5px 0px 0px 0px;
  text-align: left;

  /* prototyping some grid layout stuff */
  width: 500px;
  background-color: #eee;
  padding: 1rem;
}

@media screen and (max-width: 768px) {
  #highlights-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .highlight {
    width: 85%;
  }
}

.highlight_emph {
  color: #6089c2;
  font-weight: 600;

  &:hover {
    color: #6089c2;
  }
}
