#highlight-title {
  font-weight: 700;
  font-size: 1.5rem;
}

#highlights-group {
  display: flex;
  flex-flow: row-wrap;
  gap: 1rem;
  max-width: 100vw;
  margin-bottom: 1rem;
}

.highlight {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.3;
  padding: 5px 0px 0px 0px;
  text-align: center;
  width: 500px;
  padding: 1rem;

  color: #606060;
  /* color: white; */
  background-color: var(--home-gray);
  /* background-color: var(--lab-blue); */
}

.highlight-content {
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 768px) {
  #highlights-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .highlight {
    width: 85%;
  }
}

.highlight_emph {
  color: #6089c2;
  color: var(--text-purple);
  /* color: var(--text-teal); */
  font-weight: 600;
}

.highlight a {
  text-decoration: underline;
}

.highlight-icon {
  display: block;
  margin: 0 auto;
  /* color: var(--text-teal); */
}
